@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallbox{
    background: white;
    width: 320px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.smallbox img{
    width: 100%;
    border-radius: 20px;
}

.smallbox h2{
    text-align: center;
    margin: 20px 0;
    color: #4E5B6C;
}

.smallbox p{
    text-align: center;
    color: rgb(158, 158, 158);

}
















